body{
    background-color: lightpink;
    padding: 40px;
}
.movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    display: flex;
    flex-direction: row;
}
.movie-card{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 30px;
    margin: 10px;
    width: 200px;
    height: 440px;
    padding: 15px;
    overflow: hidden;
}
.movie-card img{
    width: 200px;
    height: 250px;
    border-radius: 20px;
    justify-content: start;
}
.movie-info{
   display:flexbox;
   flex-direction:column;

}