body{
    background-color: lightpink;
    padding: 40px;
}
.card-container{
    height: 400px;
    width: 250px;
    background-color: cornsilk;
    border-radius: 15px;
}
.movie-card{
    height: 200px;
    width: 120px;
    display: flex;
    padding: 50px;
    
    
    
}
.movie-info{
    height: 300px;
}